<div class="col-md-9">
    <div class="reveal-animation">  

        <div class="row">
            <span class="pageHeader">
                Корзина
                <input type="text" class="filterInput" placeholder="Фильтр..." ng-model="filter" ng-change="DoFilter()" />
            </span>

            <button ng-click="MakeOrder()"  class="btn-info btn pull-right">
                Оплатить {{TotalPrice}}$
            </button>
            
            <button ng-click="ClearCart()" class="btn-primary btn pull-right" style="margin-right: 10px">
                Очистить
            </button>
            <hr />
        </div>
  
        <div class="row">
            <div ng-repeat="game in GamesToShow">
                <div game-tile></div>
            </div>
        </div>
    </div>
</div>
