<div class="col-md-9">
    <div class="reveal-animation">
        <div class="row">
            <span class="pageHeader">
                Студии
                <input type="text" class="filterInput" placeholder="Фильтр..." ng-model="filter" ng-change="DoFilter()" />
            </span>
            
            <a href="/Company/Add" class="btn btn-default pull-right">Добавить</a>
            <hr />
        </div>
        <div class="row">


            <div class="panel" ng-repeat="model in CompaniesToShow">
                <div class="panel-heading">
                    <span style="font-size: 20px">{{model.companyName}}</span> 
                    <a href="/Company/Delete/{{model.id}}" class="btn btn-default btn-xs pull-right" role="button" style="background: rgb(203, 41, 41)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                    <a href="/Company/Edit/{{model.id}}" class="btn btn-default btn-xs pull-right" role="button">
                        <i class="glyphicon glyphicon-cog"></i>
                    </a>
                </div>
                <hr style="margin: 0" />
                <div class="panel-body">
                    <img ng-src="{{model.url}}" class="col-xs-2" />
                    <div>
                        {{model.companyDescription}}
                        <br ng-if="model.companyDescription"/>
                        <p>
                            Страна: {{model.country.countryName}}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
